<app-nav></app-nav>
<app-runway>
  <div class="title">
    <h1>About</h1>
  </div>

  <h2>Motivation and Interests</h2>
<p>What motivates me is an honest passion for optimization and a desire to contribute to humanity.
Making a process more effecient is highly rewarding on an instinctual level. It's like a warm hearty meal for the brain and I think this is what pushed me toward a career in software engineering. It's the land of plenty for people with this particular disposition. No other field has the number of opportunities, and rewards, for squeezing as much performance, clarity, and structure out of the available resources.
<br>On a larger scale, a desire to be helpful drives me. There&rsquo;s a lot of bad things in our world and as much as I&rsquo;ve tried, I have yet to come up with any solutions.
However, I believe there are solutions out there and until I come up with some answers myself, I am
content contributing through software. If I am able to give whoever has the answers a few more
minutes to think, because I&rsquo;ve made their world a little more efficient, I&rsquo;ll be satisfied.
<h2>Formal Education</h2>
<p><b>Bachelor of Science - Computer Science</b><br>&nbsp;&nbsp;&nbsp;Colorado State University<br>&nbsp;&nbsp;&nbsp;Expected Graduation: Spring 2023</p>
<p><b>Bachelor of Arts - English</b><br>&nbsp;&nbsp;&nbsp;Colorado State University<br>&nbsp;&nbsp;&nbsp;Graduated Spring 2019</p>


</app-runway>