<app-nav></app-nav>
<app-runway>
  <div class="title">
    <h1>Maps For Birds</h1>
  </div>

<img src="assets/map/bowtie.jpg">
<p>
The primary focus of cs314 at CSU is the process of efficient software development. The class is split into
teams of five and each team works together in an agile setting to fulfill the requirements of the product owner
(the instructor). The semester is divided into two-week sprints and at the end of each sprint the teams present
what they have been able to complete. We followed Scrum best practices, with each team member acting as the Scrum leader
at least once.</p>
<h2 id="the-product">The Product</h2>
<p>The product we were developing was a trip planning web app. The front end was developed using React, JSX, Babel, NPM,
and Jest. The backend was developed using Java, Spark, JUnit, MariaDB, and Postman.</p>
<p>The instructor provided us with the scaffolding, and throughout the semester, we implemented the following features.</p>
<ul>
<li>Adding a place to the trip</li>
<li>Uploading a trip file</li>
<li>Calculating the total trip distance based on earth radius</li>
<li>Searching for places by name</li>
<li>Searching for places by type</li>
<li>Optimizing trip route(Line of Sight)</li>
</ul>

<img src="assets/map/search.jpg">

<h2 id="definition-of-done">Definition of Done</h2>
<p>We were primarily scored, both individually and as a team, on our adherence to the process, and  to clean code principles.
Each sprint we planned which epics we thought we would be able to accomplish, broke those epics down into tasks
on Zenhub, and made a design document detailing the desired changes. At the end of each sprint, we had a retrospective and
assessed our situation. If we were falling behind, we were allowed to icebox any bonus features that we did not think we
would be able to complete.
Grading in regards to the product was based on UI usability, tested via demos with a third-party, and adherence to the
API schemas and specification. Each API call we implemented had an accompanying JSON schema and specification, each of
which was thoroughly tested.</p>
<h2 id="the-most-interesting-part">The Most Interesting Part</h2>
<p>For me, the most interesting part of this project was the implementation of a heuristic route optimization algorithm, specifically a
multi-threaded three-opt algorithm. I worked on this problem with <a href="https://www.linkedin.com/in/max-heavner/" target="_blank" rel="noopener noreffer ">Max Heavner</a>,
and we ended up with one of the best implementations in the class. The difficulty of this problem was the fact that each API call
contained a maximum response time. If the micro-server did not respond in time, it was considered a failure. Unfortunately, I am
unable to post any code here since the university is concerned about plagiarism.</p>
<div class="doubleWideImg">
<img src="assets/map/usBrews.jpg">
<img src="assets/map/usBrewsOpt.jpg">
</div>
<h2 id="key-takeaways">Key Takeaways</h2>
<p>This class was one of the most valuable I have taken. Being able to fully immerse myself in a professional software development
environment taught me how important the process is. Being able to feel the drag created by even a small amount of messy code
had a much bigger impact on my own efforts to write clean, maintainable code, than reading about it would have. Being able to work
directly with code written by other people was also an extremely valuable experience. With 1,411 commits by the end of the semester,
there were times when there was friction and disagreements, but I was lucky enough to be on a team that dealt with any issues that
came up in a professional and constructive manner. This course made me feel confident in my ability to start making meaningful contributions
to a professional team on day 1.</p>



</app-runway>