<app-nav></app-nav>
<app-runway>
  <div class="title">
    <h1>
      Lystr
      <fa-icon [ngStyle]="{'cursor':'pointer'}" [icon]="faAngleDown" (click)="menuActivated = !menuActivated"></fa-icon>
    </h1>
  </div>
  <div *ngIf="menuActivated" class = "dropDown" >
    <p class = "dropDownItem"><a href="https://lystr.app" target="_blank">-Register-</a></p>
    <hr>
    <p class = "dropDownItem"><a href="https://github.com/aldenhaase/lystr" target="_blank">-Source Code-</a></p>
  </div>

<blockquote>
<p>Lystr is a collaborative list building web-app designed to put an end to forgotten eggs.
  It allows users to collaboratively and synchronously generate a list from any device's browser.
  Gone are the days of combing through your messages to see what everybody else needed from the store,
  restaurant, coffee shop, etc. Registration is free and does not require email or other verification.
    <br>
    <br>
  Lystr is still in active development with many new features on the way. However, the design principle
  which will guide future developments is the negation of that which guides the Swiss Army’s knife design
  division. This tool will be good for collaboratively creating lists and that is all. 
</p>
</blockquote>


<h2>The Goal</h2>
<p>The goal of this project was not just to build the Facebook of grocery list creation. I also needed
  and excuse to learn new things. In particular I set out to learn about three thing. I wanted learn about 
  building a CI/CD pipeline, building a complete application, and working with cloud compute and hosting.
  Prior to this project I had worked with all of these components individualy but I had yet to cook up the
  entire meal by myself. I also took the opportunity to dabble in GO.
</p>

<h2>The Technologies</h2>
<div class = "techStack">
<fa-icon class = "fa-2xl" [icon]="faAngular"></fa-icon>
<fa-icon class = "fa-2xl" [icon]="faGolang"></fa-icon>
<fa-icon class = "fa-2xl" [icon]="faDocker"></fa-icon>
<fa-icon class = "fa-2xl" [icon]="faCloud"></fa-icon>
<fa-icon class = "fa-2xl" [icon]="faGitHub"></fa-icon>
</div>
<p>
  This project used the ADAGE stack -- App Engine, Datastore, Angular, Go, Express.
</p>

<h2>The Architecture</h2>
<p>This application is built using a three tier architecture. The front-end is served from a basic Express
    server running in Google's App Engine. The API is handled by a custom GO server, running as a serperate App Engine
    service. All data is stored in Google's datastore. 
</p>

<h3>The Database</h3>
<p>Datastore is a NOSQL database. Here is the database model. 
</p>
<img src="assets/diagrams/ERdiagram.drawio.svg">

<div class="title">-Alden</div>
</app-runway>