@font-face {
    font-family: 'Kanit';
    src: url('../../assets/fonts/Kanit-Bold.ttf');
  }
@font-face {
    font-family: 'Orbitron';
    src: url('../../assets/fonts/Orbitron-VariableFont_wght.ttf');
  }
:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#strip {
    min-width: 320px;
    max-width: 800px;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: justify;
}

#strip ::ng-deep{
img{
    max-width:100%;
}

.doubleWideImg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.doubleWideImg img{
    max-width: 45%;
}

.gif video{
    width: 100%;
}

.gif{
    margin: auto;
    width: 80%;
}
.title{
    font-family: Orbitron;
    text-align: center;
}
.table{
    table, th, td {
        table-layout: fixed;
        width: 100%;
        word-wrap:break-word;
        border: 1px solid black;
        border-collapse: collapse;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dropDown{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: thin solid black;
    width:60%;
    margin: auto;
    font-family: Orbitron;
}
}
